body{
    background-color: rgb(22, 23, 25);
    font-family: Montserrat;

}
h1
{
    text-align: center;
}
#gameBoard{
    border-top: 2px solid;
    border-bottom: 2px solid;
    color: rgba(30, 82, 89, 0.71);
}
#gameContainer{
    margin-top: 5vmin;
    text-align: center;

}


#scoreText{
    font-size: 100px;
    color: rgba(6, 94, 105, 0.71);
    font-family: 'Poppins', sans-serif;
    font-display: rgb(160, 14, 14);
    padding: 20px;
    box-shadow: -8px -8px 15px rgba(152, 146, 169, 0.3),5px 5px 15px rgba(122, 122, 139, 0.3);
}

